<!DOCTYPE html>
<html lang="en" style='height: calc( 100% - 158px)'>
<head>
<%- include head.ejs %>
</head>
<body style='height: calc( 100% )'>
  <div class="container" style='height: calc( 100% )'>
    
    <div class="row" >
      <div class="column col-sm-2" style='height: calc( 100% )'></div>
      <div id="articles" class="column col-sm-8 col-md-8 col-lg-8" style='height: calc( 100% )'>
      <%- include navbar.ejs %>
      <div class="column col-lg-12 centered" style="">
        <h1 class="text-center">Well ... this is unfortunate</h1>
        <p style="font-size:20px">It looks like the webpage you requested either does not exist, or we had an error retreiving it. Please scan over your link to make sure it is correct, or reload the page in a few seconds</p>
      </div>
        

      </div>
    </div>
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>

  <footer class="footer">
    <div class="sub-footer">
      <div class="footer-container">
        <p class="pull-left">Built for you by the Node.js Community.</p>
        <p class="pull-right">- Contribute on <a href="https://github.com/madgloryint/planet">Github</a> -</p>
      </div>
    </div>
  </footer>


  <script src="/js/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-33396402-5', 'planetnodejs.com');
    ga('send', 'pageview');
  </script>
  <script type="text/javascript">
    var addthis_config = {
      data_track_addressbar : true,
      data_ga_property      : 'UA-33396402-5',
      data_ga_social        : true
    };
  </script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fd7768413d24ce9"></script>
  <script type="text/javascript" src="/js/xdate.js"></script>
  <script type="text/javascript" src="/js/format-dates.js"></script>
</body>
</html>