<!--[if IE 6]><![endif]-->  
<!doctype html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
  <head>  
    <meta charset="utf-8">
    
    <meta name="keywords" content="{{joinedTags}}" /> 
    <meta name="description" content="{{title}}" />
    
    <meta http-equiv="X-UA-Compatible" content="chrome=1" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=8" /> 
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:image" content="{{image}}" />
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /> 
    <link rel="shortcut icon" type="image/png" href="/favicon.png" /> 
    
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{url}}/site.rss" />
    
    <script type="text/javascript"> 
    	var analyticsFileTypes = [''];
    	var analyticsEventTracking = 'enabled';
    </script> 
    <script type="text/javascript"> 
    	var _gaq = _gaq || [];
    	_gaq.push(['_setAccount', 'UA-3515839-5']);
    	_gaq.push(['_trackPageview']);

    	(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    	})();
    </script>
    
    <title>{{title}}</title>
        
    <style type="text/css">
      {{css}}
    </style>
    
  </head>
  
  <body>
    <div id="feedlink">
      <a href="/site.rss">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewbox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
          <g>
          	<path d="M32,32h-4.569C27.431,16.875,15.125,4.573,0,4.573V0C17.641,0,32,14.355,32,32L32,32z"></path>
          	<path d="M22.859,32h-4.574c0-10.082-8.207-18.285-18.285-18.285V9.143C12.603,9.143,22.859,19.398,22.859,32L22.859,32z"></path>
          	<path d="M13.719,32H9.141c0-5.043-4.094-9.143-9.141-9.143v-4.572C7.562,18.285,13.719,24.438,13.719,32L13.719,32z"></path>
          	<path d="M4.571,32c0-2.523-2.04-4.57-4.571-4.57V32H4.571z"></path>
          </g>
        </svg>
      </a>
    </div>
    <div id="title"><a href="{{url}}">{{title}}</a></div>
    <div id="container">
      <div id="posts">
        {{#posts}}
          <div class="post">
            <div class="post-title">
              <span class="post-title"><a href="{{link}}">{{title}}</a></span> 
              <span class="byline"> by <a href="{{site.link}}">{{site.author}}</a></span>
              <span class="post-displayDate"> on {{displayDate}}</span>
            </div>
            
            <div class="post-isoTimestamp" style="display:none">{{isoTimestamp}}</div>
            <div class="post-id" style="display:none">{{_id}}</div>
            <div class="post-description">{{{description}}}</div>
          </div>
        {{/posts}}
      </div>
      <div id="links">
        <div id="sites-title">Sites</div>
      {{#sitesArray}}
        <a href="{{link}}">{{name}}</a>
      {{/sitesArray}}
        </br>
        <div id="add-site"><a href="mailto:{{editorEmail}}?subject=Add my site to {{title}}&body=Title: %0A%0aFeed: %0A%0AAuthor Name: %0A%0ASite Url:%0A%0A">add your site?</a></div>
      </div>
    </div>
  </body>
</html>