<!--[if IE 6]><![endif]-->
<!doctype html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">

    <meta name="keywords" content="{{joinedTags}}" />
    <meta name="description" content="{{title}}" />

    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:image" content="{{image}}" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{url}}/site.rss" />
    <link rel="alternate" type="text/x-opml" title="RSS Subscription List" href="{{url}}/site.opml" />

    <title>{{title}}</title>

    <style type="text/css">
      {{css}}
    </style>

  </head>

  <body>
    <div id="feedlink">
      <a href="/site.rss">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewbox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
          <g>
          	<path d="M32,32h-4.569C27.431,16.875,15.125,4.573,0,4.573V0C17.641,0,32,14.355,32,32L32,32z"></path>
          	<path d="M22.859,32h-4.574c0-10.082-8.207-18.285-18.285-18.285V9.143C12.603,9.143,22.859,19.398,22.859,32L22.859,32z"></path>
          	<path d="M13.719,32H9.141c0-5.043-4.094-9.143-9.141-9.143v-4.572C7.562,18.285,13.719,24.438,13.719,32L13.719,32z"></path>
          	<path d="M4.571,32c0-2.523-2.04-4.57-4.571-4.57V32H4.571z"></path>
          </g>
        </svg>
      </a>
    </div>
    <div id="opmllink">
      <a href="/site.opml">
        <svg fill="#000000" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
          <path d="M 256.00,128.00c-70.688,0.00-128.00,57.312-128.00,128.00s 57.312,128.00, 128.00,128.00s 128.00-57.312, 128.00-128.00S 326.688,128.00, 256.00,128.00z M 256.00,352.00 c-53.008,0.00-96.00-42.992-96.00-96.00s 42.992-96.00, 96.00-96.00s 96.00,42.992, 96.00,96.00S 309.008,352.00, 256.00,352.00z M 256.00,0.00C 114.608,0.00,0.00,114.608,0.00,256.00s 114.608,256.00, 256.00,256.00s 256.00-114.608, 256.00-256.00 S 397.392,0.00, 256.00,0.00z M 256.00,448.00C 149.968,448.00, 64.00,362.032, 64.00,256.00S 149.968,64.00, 256.00,64.00s 192.00,85.968, 192.00,192.00S 362.032,448.00, 256.00,448.00z M 256.00,208.00c-26.512,0.00-48.00,21.488-48.00,48.00 s 21.488,48.00, 48.00,48.00s 48.00-21.488, 48.00-48.00S 282.512,208.00, 256.00,208.00z" >
          </path>
        </svg>
      </a>
    </div>
    <div id="title"><a href="{{url}}">{{title}}</a></div>
    
    <div id="posts">
      {{#posts}}
        <div class="post">
          <div class="post-title">
            <span class="post-title"><a href="{{link}}">{{title}}</a></span>
            <span class="byline"> by <a href="{{site.link}}">{{site.author}}</a></span>
            <span class="post-displayDate"> on {{displayDate}}</span>
          </div>

          <div class="post-isoTimestamp" style="display:none">{{isoTimestamp}}</div>
          <div class="post-id" style="display:none">{{_id}}</div>
          <div class="post-description">{{{description}}}</div>
        </div>
      {{/posts}}
    </div>
    <div id="links">
      <div id="sites-title">Sites</div>
      {{#sitesArray}}
      <div class="site-link"><a href="{{link}}">{{name}}</a></div>
      {{/sitesArray}}
      </br>
      <div id="add-site"><a href="mailto:{{editorEmail}}?subject=Add my site to {{title}}&body=Title: %0A%0aFeed: %0A%0AAuthor Name: %0A%0ASite Url:%0A%0A">add your site?</a></div>
    </div>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33396402-5', 'planetnodejs.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>