<?xml version="1.0"?>
<rss version="2.0">
	<channel>
		<title>{{title}}</title>
		<link>{{url}}</link>
		<description>{{description}}</description>
		<language>en-us</language>
		<copyright>Copyright 2011 Mikeal Rogers</copyright>
		<pubdate>{{rfc822}}</pubdate>
		<lastBuildDate>{{rfc822}}</lastBuildDate>
		<docs>http://cyber.law.harvard.edu/rss/rss.html</docs>
		<generator>github://mikeal/planet</generator>
		<managingEditor>{{editorEmail}}</managingEditor>
		<webMaster>{{editorEmail}}</webMaster>
	  {{#posts}}
	  <item>
	    <title>{{title}}</title>
			<link>{{link}}</link>
			<guid>{{guid}}</guid>
			<description>
			  {{description}}
			</description>
			<pubdate>{{rfc822}}</pubdate>
	  </item>
	  {{/posts}}
  </channel>
</rss>